
body, p, span {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}
a {
	color: grey;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
.wrapperOuter {
	text-align: center;
}

.wrapperInner {
	margin: 0 auto;
	width: 800px;
}
p + p {
	margin-top: 10px;
}

.maincontent{
	padding-top: 126px;
	padding-bottom: 50px;
	text-align: left;
	line-height: 20px;
}
.maincontent li,
.maincontent p {
	line-height: 30px;
}
.maincontent__h1,
.maincontent__h2 {
	text-transform: uppercase;
	display: inline-block;
	font-family: Arial Black, Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	font-size: 18px;
	line-height: 20px;
	text-transform: uppercase;
}
.maincontent__h1 + .maincontent__h2 {
	color: grey;
	margin-left: 10px;
}
.maincontent__h2 + p ,
.maincontent__h2 + dl {
	margin-top: 0;
}
dd + dt {
	margin-top: 10px;
}

.disqus,
.disqus p {
	font-family: Arial, Helvetica, sans-serif;
}

.headerbar__wrapper {
	position: fixed;
	width: 100%;
	top: 0;
	background-color: white;
}
.headerbar__logo {
	background-image: url(https://s3.amazonaws.com/drewingdeblog/drewing_de_logo.png);
	background-repeat: no-repeat;
	background-position: center center;
	display: block;
	width: 100%;
	height: 80px;
}
.headerbar__navelement {
	display: inline-block;
	font-family: Arial Black, Arial, Helvetica, sans-serif;
	font-weight: 900;
	font-size: 18px;
	line-height: 20px;
	text-transform: uppercase;
	text-decoration: none;
	color: black;
	padding: 10px 20px;
}

.mainnavi {
	border-top: 1px solid black;
	border-bottom: 2px solid black;
}
.mainnavi__wrapper {
	position: fixed;
	width: 100%;
	top: 80px;
	background-color: white;
}
.mainnavi__navelement--current,
a.mainnavi__navelement {
	display: inline-block;
	font-family: Arial Black, Arial, Helvetica, sans-serif;
	font-weight: 900;
	font-size: 18px;
	line-height: 20px;
	text-transform: uppercase;
	color: black;
	padding: 10px 20px;
}
.mainnavi__navelement--current,
a.mainnavi__navelement:hover {
	text-decoration: none;
	color: gray;
}
.mainnavi__nav {
	border-bottom: 2px solid black;
}

.copyright {
	background-color: black;
	color: white;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	padding: 20px 20px 50px;
	margin-top: 20px;
}
.copyright__license {
	margin-top: 20px;
	margin-bottom: 20px;
}
.copyright__cc {
    display: block;
    border-width: 0;
    background-image: url(https://i.creativecommons.org/l/by-nc-nd/3.0/88x31.png);
    width: 88px;
    height: 31px;
    margin-right: 15px;
    margin-bottom: 5px;
}

.footernavi {
	border-top: 1px solid black;
}
.footernavi__wrapper {
	position: fixed;
	width: 100%;
	bottom: 0;
	background-color: white;
}
.footernavi__navelement--current ,
a.footernavi__navelement {
	display: inline-block;
	font-family: Arial Black, Arial, Helvetica, sans-serif;
	font-weight: 900;
	font-size: 16px;
	line-height: 20px;
	text-transform: uppercase;
	text-decoration: none;
	color: black;
	padding: 10px 15px;
}
a.footernavi__navelement:hover,
.footernavi__navelement--current {
	color: gray;
}

a.blognavientry__tile {
	display: block;
	position: relative;
	width: 390px;
	height: 470px;
	margin-bottom: 20px;
	float: left;
	text-decoration: none;
}

.blognavientry__tile:nth-child(odd) {
	margin-right: 20px;
}

.blognavientry__image {
	display: block;
	width: 390px;
	height: 390px;
	background-size: cover;
}
.blognavientry__tile h2 {
	font-family: Arial Black, Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	color: black;
	margin-top: 4px;
	line-height: 24px;
}
.blognavientry__tile:hover h2 {
	color: grey;
}

.blognavicomponent {
	text-align: left;
	padding-top: 123px;
}
.blognavicomponent.meta {
	padding-top: 0;
}
.blognavicomponent__nav {
	text-align: center;
	color: lightgrey;
	margin-bottom: 50px;
}
.blognavicomponent__nav span {
	font-family: Arial Black, Arial, Helvetica, sans-serif;
	color: lightgrey;
	font-weight: 900;
}
.blognavicomponent__next {
	margin-left: 10px;
}
.blognavicomponent__previous,
.blognavicomponent__next {
	font-family: Arial Black, Arial, Helvetica, sans-serif;
	color: grey;
	text-transform: uppercase;
	font-weight: 900;
	font-size: 16px;
}
